{% extends 'base.html' %}{% load custom_filters %}
{% block title %} Certificate Approval {% endblock title %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Certificate Approval</h2>
  {% if user|user_has_role:"site_admin" %}
  <button onclick="location.href = 'certificate-create'" class="btn" style="background-color: #ff7400; color: #fff; bottom: 20px; right: 20px; font-weight: bold;">
      Add New
  </button>
  {% endif %}
</div>
<form method="post" id="approvalForm">
    {% csrf_token %}
    <div class="mb-3">
        <p><strong>Issuer:</strong> {{ certificate.issuer.name }}</p>
        <p><strong>Customer:</strong> {{ certificate.customer.name }}</p>
        <p><strong>Status:</strong> {{ certificate.status }}</p>
        <p><strong>Description:</strong> <a href="{{ certificate.file.url }}">{{ certificate.description }}</a></p>
    </div>
    <div class="row mb-3">
        <div class="col-auto">
            <button type="submit" name="action" value="approve" class="btn btn-success me-2">Approve</button>
        </div>
        <div class="col-auto">
            <button type="submit" name="action" value="reject" class="btn btn-danger me-2">Reject</button>
        </div>
        <div class="col">
            <textarea id="rejection_reason" name="rejection_reason" class="form-control" placeholder="Insert comments here..." rows="1"></textarea>
        </div>
    </div>
    <div id="error-message" class="alert alert-danger" style="display: none;" role="alert">
        Rejection reason is required when rejecting a certificate.
    </div>
    <div class="mb-3">
        <label for="certificate_history" class="form-label"><strong>Certificate History</strong></label>
        <div id="certificate_history" class="form-control" style="background-color: #e9ecef; cursor: not-allowed;" readonly>
            {% for h in history %}
                <p>{{ h.timestamp }} - {{ h.action }} by {{ h.user }}: {{ h.comments }}</p>
            {% endfor %}
        </div>
    </div>
</form>

<script>
document.getElementById('approvalForm').addEventListener('submit', function(event) {
    var action = document.activeElement.getAttribute('name');
    var rejectionReason = document.getElementById('rejection_reason').value;
    var errorMessage = document.getElementById('error-message');

    if (action === 'action' && document.activeElement.value === 'reject' && !rejectionReason) {
        event.preventDefault();
        errorMessage.style.display = 'block';
    } else {
        errorMessage.style.display = 'none';
    }
});
</script>
{% endblock content %}